#root .sterling .text-orange {
  color: #ff4b2f;
}

#root .sterling .text-lgray {
  color: #b8b8b8;
}

#root .sterling .border-orange {
  border-color: #ff4b2f !important;
}

#root .sterling .bg-orange {
  background-color: #ff4b2f;
}

#root .sterling .bg-lgray {
  background-color: #b2b2b2;
}

#root .sterling .bg-wgray {
  /* background-color: #f5f5f5; */
}

#root .sterling .fw-normal {
  font-weight: normal;
}

#root .sterling .btn-orange {
  color: white !important;
  background-color: #ff4700 !important;
}

#root .sterling .text-lgray,
#root .sterling .text-muted {
  color: #bcbcbc !important;
}

#root .sterling .nav-link {
  color: #bcbcbc;
  cursor: pointer;
}

#root .sterling .nav-link.active {
  color: #ff4700;
  background-color: transparent;
}

#root .sterling .nav-link.special {
  border-radius: 9px;
  background-color: #666;
  color: white;
}

#root .sterling .nav-link.special.active {
  background-color: #ff4700;
  position: relative;
}

#root .sterling .nav-item .tooltip {
  position: relative;
}

#root .sterling .nav-item .tooltip.show {
  opacity: 1;
}

#root .sterling .nav-item .tooltip.bs-tooltip-top .arrow {
  position: relative;
  margin: auto;
  margin-top: -6px;
}

#root .sterling .nav-item .tooltip.bs-tooltip-bottom {
  padding-bottom: 0;
}

#root .sterling .nav-item .tooltip.bs-tooltip-bottom .arrow {
  position: relative;
  margin: auto;
  left: -5px;
}

#root .sterling .nav-item .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #ff4700;
  border-width: 10px 10px 0;
}

#root
  .sterling
  .nav-item
  .tooltip.bs-tooltip-bottom
  .arrow::before {
  border-bottom-color: #f5f5f5;
  border-width: 0 15px 15px;
}